body{
  background: rgb(244, 248, 249);
  font-family: Helvetica, sans-serif;
}

.tweet{
  background: rgb(255, 255, 255);
}
/* - border:            rgb(225, 232, 237)
 - user name:         rgb(0, 0, 0)
 - user account:      rgb(104, 109, 129)
 - text:              rgb(0, 0, 0)
 - date:              rgb(101, 116, 127)
 - bottom text color: rgb(105, 120, 130)
 - follow button:     rgb(85, 172, 238)!*/
